.auction {
  display: grid;  
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 20px;
  border-radius: 0.3rem;
  
  padding: 2rem;
}

.auction__title {
  grid-column: 1/-1;
  grid-row: 1/2;

  margin-top: 0rem;
  text-align: left;
}

.auction__title h1 {
  margin: 0;
  padding: 0;
  
  text-align: center;
}
.auction__title h2 {
  margin: 0;
  padding: 0;

  text-align: left;  
  
}
.auction__title2 h2 {
  margin: 0;
  padding: 0;

  text-align: right;  
  
}

.auction__thumbnail {
  grid-column: 1/-1;
  overflow: hidden;
  max-height: 100%;
  border: 1px solid gray;
}

.auction__thumbnail-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
}
.auction__content {
  grid-column: 1/-1;
  grid-row: 3/-1;
}





@media only screen and (min-width: 768px) {
  .auction {
    row-gap: 2rem;
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
  }
  .auction__thumbnail {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .auction__content {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .auction__content-expires {
    margin-top: 1rem;
    font-size: 0.7rem;
  }
}
.cardtitle {
  font-size: 2rem;
  text-align: center;
}
.cardtext {
  font-size: 1rem;
  text-align: center;
}